.btn {
  background-color: #74fac0;
  border: none;
  padding: 10px;
  border-radius: 13px;
  font-weight: bolder;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btn:hover {
  color: aliceblue;
  background: transparent;
  transform: translateY(-5px);
  transition: 0.5s;
}
